:root {
  --b: 1px;
  --m: 5px;
  --url: url(src/pictures/border.svg) 20% round;
  --font: 'Merienda', cursive;
}

body {
  margin: 0;
  background-color: wheat;
  font-family: var(--font);
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .hide1100 {
    display: none;
  }
}

.fontSizeSmall {
  font-size: 0.8rem;
}
.fontSizeBig {
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

.highlighted {
  background-color: rgb(218, 141, 141) !important;
}
.selected {
  background-color: rgb(143, 226, 143) !important;
}

.value {
  font-size: 0.75rem;
  text-shadow: 0.33px 0 0 #000, 0 -0.33px 0 #000, 0 0.33px 0 rgb(48, 70, 167), -0.33px 0 0 #000;
}
.giga {
  text-align: center;
  font-size: 1rem;
}

.winzard {
  position: relative;
}

.playerImg {
  width: 15vh;
  height: 15vh;
  margin: auto;
  border: solid 2px black;
  border-radius: 50%;
  background-color: white;

  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.playerImg img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}
.playerImg:nth-child(2) {
  grid-column-start: 2;
}
.playerImg:nth-child(3) {
  grid-column-start: 3;
}

.box {
  text-align: left;
  margin: auto;
  border: var(--m) solid transparent;
  border-image: var(--url);
  max-width: 25vw;
}
@media screen and (max-width: 1100px) {
  .box {
    display: none; 
  }
}

.hidden {
  display: none;
}

.right {
  text-align: right;
}

.Red {
  color: #f1893b;
} 
.red {
  background-color: red;
}
.shineRed {
  background-color: rgb(243, 181, 181) !important;
}
.Blue {
  color: #428fcd;
} 
.blue {
  background-color: blue;
}
.shineBlue {
  background-color: rgb(163, 163, 241) !important;
}
.White {
  color: #d0eaef;
} 
.white {
  background-color: white;
}
.shineWhite {
  background-color: rgb(206, 194, 194) !important;
}
.Green {
  color: #76af35;
} 
.green {
  background-color: green;
}
.shineGreen {
  background-color: rgb(164, 236, 164) !important;
}
.Yellow {
  color: #f8eb2f;
}
.yellow {
  background-color: yellow;
}
.shineYellow {
  background-color: rgb(238, 238, 168) !important;
}
.gray {
  background-color: gray;
}