:root {
  --b: 1px;
  --m: 5px;
  --url: url(src/pictures/border.svg) 20% round;
  --font: 'Merienda', cursive;
}

body {
  margin: 0;
  background-color: #36393f;
  font-family: var(--font);
  color: 	#999999;
}

.board {
  border: var(--m) solid transparent;
  padding: var(--m);
  border-image: var(--url);
  background-color: #333333;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pickPlayer {
  --w: 50vw;
  --h: 35vw;
  position: fixed;
  text-align: center;
  width: var(--w);
  height: var(--h);
  left: calc(50% - calc(var(--w)/2));
  top: calc(50% - calc(var(--h)/2));
  background-color: rgb(160, 105, 105);
  border: solid black 2px;
  z-index: 10;
}

.pickPlayerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.charactherImg {
  --r: calc(10vw - 3px);
  width: var(--r);
  height: var(--r);
  background-color: white;
  border: solid black 1px;
  border-radius: 50%;
}

.charactherImg img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}

.taken {
  opacity: 0.5;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .hide1100 {
    display: none;
  }
}

.fontSizeSmall {
  font-size: 0.8rem;
}
.fontSizeBig {
  font-size: 0.9rem;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}

div div.highlighted {
  background-color: rgb(218, 141, 141);
}
div div.selected {
  background-color: rgb(143, 226, 143);
}

.value {
  font-size: 0.75rem;
  text-shadow: 0.33px 0 0 #000, 0 -0.33px 0 #000, 0 0.33px 0 rgb(48, 70, 167), -0.33px 0 0 #000;
}
.giga {
  text-align: center;
  font-size: 1rem;
}

.winzard {
  position: relative;
}

.playerImg {
  width: 15vh;
  height: 15vh;
  margin: auto;
  border: solid 2px black;
  border-radius: 50%;
  background-color: white;

  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.playerImg img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}
.playerImg:nth-child(3) {
  grid-column-start: 2;
}
.playerImg:nth-child(4) {
  grid-column-start: 3;
}

.box {
  text-align: left;
  margin: auto;
  border: var(--m) solid transparent;
  border-image: var(--url);
  max-width: 25vw;
}
@media screen and (max-width: 1100px) {
  .box {
    display: none; 
  }
}

.hidden {
  display: none;
}

.right {
  text-align: right;
}

.Red {
  color: #f1893b;
} 
.red {
  background-color: red;
}
div.shineRed {
  background-color: 	#FFF0F5;
}
.Blue {
  color: #428fcd;
} 
.blue {
  background-color: blue;
}
div.shineBlue {
  background-color: #F0FFFF;
}
.White {
  color: #d0eaef;
} 
.white {
  background-color: white;
}
div.shineWhite {
  background-color: 	#F5F5F5;
}
.Green {
  color: #76af35;
} 
.green {
  background-color: green;
}
div.shineGreen {
  background-color: #F0FFF0;
}
.Yellow {
  color: #f8eb2f;
}
.yellow {
  background-color: yellow;
}
div.shineYellow {
  background-color: #FFFFF0;
}
.gray {
  background-color: gray;
}