.helpGrid {
  text-align: left;
  display: grid;
  grid-template-columns:6.25vw 6.25vw 6.25vw 6.25vw;
}
.helpObj {
  margin-bottom: 12px;
  color: transparent;  
  text-shadow: 0 0 0 black; /*possible to change emoji colors*/
}
.help {
  visibility: hidden;
}