:root {
  --boardHeightW: 80vh;
  --boardWidthW: 60vw;
  --heightW: calc((var(--boardHeightW) - calc(13 * var(--m)))/5 - calc(2 * var(--b)));
  --widthW: calc((var(--boardWidthW) - calc(23 * var(--m)))/10 - calc(2 * var(--b)));
  --playerW: 15vh;
  --playerbW: 2px;
}

.wrapper {
  --gridA: calc((100vw - var(--boardWidthW))/2);
  --gridB: calc(var(--boardWidthW)/4 + var(--playerW)/2 + var(--playerbW));
  display: grid;
  grid-template-columns: var(--gridA) var(--gridB) calc(100vw - 2 * (var(--gridA) + var(--gridB))) var(--gridB) var(--gridA);
  grid-template-rows: var(--boardHeightW) calc(100vh - var(--boardHeightW));
}

.board { 
  height: calc(var(--boardHeightW) - calc(var(--m) * 4));
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;

  border: var(--m) solid transparent;
  padding: var(--m);
  border-image: var(--url);

  display: grid;
  grid-template-columns: repeat(10, calc(var(--widthW) + calc(2 * (var(--m) + var(--b)))));
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  padding: calc(var(--m)/2);
  margin-bottom: var(--m);
  height: var(--heightW);
  width: var(--widthW);
}

.shape {
  --hw: calc(var(--widthW) / 2);
  display: none;
  float: left;
  position: absolute;
  height: var(--hw);
  width: var(--hw);
  left: calc(var(--hw)/2);
  top: calc(var(--hw)/2);
  z-index: 5;
  border: solid black var(--b);
}

.square {
  display: block;
}

.circle {
  display: block;
  border-radius: 50%;
}

.triangle {
  display: block;
  height: 100%;
  border-radius: 30% 30% 70% 70% / 60% 60% 70% 70%;
  margin-top: -10px;
  transform: rotate(180deg);
}

img.winzardImg {
  display: block;
  width: min(calc(var(--heightW) * 0.6), var(--widthW));
  height: min(calc(var(--heightW) * 0.6), var(--widthW));
  margin-left: auto;
  margin-right: auto;
}

.pickPlayer {
  --w: 50vw;
  --h: 35vw;
  position: fixed;
  text-align: center;
  width: var(--w);
  height: var(--h);
  left: calc(50% - calc(var(--w)/2));
  top: calc(50% - calc(var(--h)/2));
  background-color: #333333;
  border: solid black 2px;
  z-index: 10;
}

.pickPlayerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.charactherImg {
  --r: calc(10vw - 3px);
  width: var(--r);
  height: var(--r);  
  background-color: #999999;
  border: solid black 1px;
  border-radius: 50%;
}

.charactherImg img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}

.playerImg {
  width: var(--playerW);
  height: var(--playerW);
  border: solid var(--playerbW) black;
  border-radius: 50%;
  background-color: #999999;

  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.playerImg img {
  display: block;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}
div#playerImg1 {
  margin: auto 0 auto auto;
  grid-column-start: 2;
}
div#playerImg2 {
  margin: auto auto auto 0;
  grid-column-start: 4;
}


.info {
  grid-column-start: 3;
  grid-row-start: 2;

  display: grid;
  margin: auto;
  text-align: center;
}

.btn {
  --btnW: calc(var(--boardWidthW) - 50vw);
  font-family: var(--font);
  text-align: center;

  width: var(--btnW);
  height: calc(var(--btnW)/2);
  border: solid black 2px;
  border-radius: 5px;
}

.btnPass {
  margin: auto;
}
