:root {
  --b: 1px;
  --m: 5px;
  --height: calc((100vh - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
  --width: calc((100vw/3 - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
}

@media screen and (max-width: 1400px) {
  :root {
  --b: 1px;
  --m: 5px;
  --height: calc((100vh - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
  --width: calc((50vw - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
  }
}

@media screen and (max-width: 800px) {
  :root {
  --b: 1px;
  --m: 5px;
  --height: calc((100vh - 100px - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
  --width: calc((80vw - calc(17 * var(--m)))/7 - calc(2 * var(--b)));
  }
}

body {
  margin: 0;
  background-color: wheat;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
  display: grid;
  grid-template-columns: calc(100vw/3) calc(100vw/3) calc(100vw/3);
}
@media screen and (max-width: 1400px) {
  .wrapper {
    display: grid;
    grid-template-columns: calc(25vw) calc(50vw) calc(25vw);
  } 
}
@media screen and (max-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
      "header header header header"
      "side board board side"
      "side footer footer side"
    ;
  } 
}

.board { 
  border: var(--m) solid transparent;
  padding: var(--m);
  border-image: url(src/pictures/border.svg) 20% round;

  /* border: var(--m) solid red;
  padding: var(--m); */
  display: grid;
  grid-template-columns: repeat(7, calc(var(--width) + calc(2 * (var(--m) + var(--b)))));
}
@media screen and (max-width: 800px) {
  .board { 
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 1;

  border: var(--m) solid transparent;
  padding: var(--m);
  border-image: url(src/pictures/border.svg) 20% round;

  /* border: var(--m) solid red;
  padding: var(--m); */
  display: grid;
  grid-template-columns: repeat(7, calc(var(--width) + calc(2 * (var(--m) + var(--b)))));
}
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  padding: calc(var(--m)/2);
  margin-bottom: var(--m);
  height: var(--height);
  width: var(--width);
}
.temp:nth-child(n+43) {
  margin-bottom: calc(-1 * var(--m));
}

.highlighted {
  background-color: rgb(218, 141, 141);
}
.selected {
  background-color: rgb(143, 226, 143);
}

.value, .giga {
  font-family: 'Merienda', cursive;
  font-size: calc(var(--height) / 8);
  text-shadow: 0.33px 0 0 #000, 0 -0.33px 0 #000, 0 0.33px 0 rgb(48, 70, 167), -0.33px 0 0 #000;
}
.giga {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .giga {
    text-align: center;
  }
  .giga:nth-child(2) {
    color: red;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
  .giga:nth-child(1) {
    color: green;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
  }
}

div.winzard img {
  display: block;
  width: min(calc(var(--height) * 0.6), var(--width));
  height: min(calc(var(--height) * 0.6), var(--width));
  margin-left: auto;
  margin-right: auto;
}

.winzard {
  position: relative;
}

.shape {
  --hw: calc(var(--width) / 2);
  display: none;
  float: left;
  position: absolute;
  height: var(--hw);
  width: var(--hw);
  left: calc(var(--hw)/2);
  top: calc(var(--hw)/2);
  z-index: 1000;
  border: solid black var(--b);
}

.square {
  display: block;
}

.circle {
  display: block;
  border-radius: 50%;
}

.triangle {
  display: block;
  height: 100%;
  border-radius: 30% 30% 70% 70% / 60% 60% 70% 70%;
  margin-top: calc(var(--height) / -10);
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.right {
  text-align: right;
}

.Red {
  color: #f1893b;
} 
.red {
  background-color: red;
}
.Blue {
  color: #428fcd;
} 
.blue {
  background-color: blue;
}
.White {
  color: #d0eaef;
} 
.white {
  background-color: white;
}
.Green {
  color: #76af35;
} 
.green {
  background-color: green;
}
.Yellow {
  color: #f8eb2f;
}
.yellow {
  background-color: yellow;
}
.gray {
  background-color: gray;
}