body {
  margin: 0;
  background-color: wheat;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 205px);
}

.card {
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 175px;
  height: 265.4px;  
}

.highlighted {
  background-color: rgb(218, 141, 141);
}

.value {
  font-family: 'Merienda', cursive;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 rgb(48, 70, 167), -1px 0 0 #000;
}

div.winzard img {
  width: 175px;
  height: 175px;
}

div.backside img {
  width: 265.4px;
  height: 70px;
  margin-top: calc(50% + 27px);
  margin-left: calc(-50% + 35px);
  transform: rotate(90deg);
}

.winzard {
  position: relative;
}

.shape {
  display: none;
  float: left;
  position: absolute;
  left: calc(50% - 37.5px);
  top: calc(50% - 37.5px);
  z-index: 1000;
  height: 75px;
  width: 75px;
  border: solid black 2px;
}

.square {
  display: block;
}

.circle {
  display: block;
  border-radius: 50%;
}

.triangle {
  display: block;
  height: 100%;
  border-radius: 30% 30% 70% 70% / 60% 60% 70% 70%;
  margin-top: -50px;
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.right {
  text-align: right;
}

.Red {
  color: #f1893b;
} 
.red {
  background-color: red;
}
.Blue {
  color: #428fcd;
} 
.blue {
  background-color: blue;
}
.White {
  color: #d0eaef;
} 
.white {
  background-color: white;
}
.Green {
  color: #76af35;
} 
.green {
  background-color: green;
}
.Yellow {
  color: #f8eb2f;
}
.yellow {
  background-color: yellow;
}